.spCardRoot {
    margin: 0.7em;
    /* background-color: #66BB6A; */
    background-color: rgb(133, 168, 212);
    border-radius: 0.25em;
    margin-bottom: 1vh;
    cursor: pointer;
    /* box-shadow: 0.02em 0.04em 0.25em rgb(5, 5, 5); */
    transition: all 0.5s;
}

.spCardRoot:hover {
    /* background-color: lightgreen; */
    background-color: rgb(76, 130, 206);
    color: white;
    transform: scale(1.01);
}

.spCardContent {
    vertical-align: top;
    text-align: start;
}