.ratingPage {
    text-align: center;
    width: 50%;
    /* margin: 12% 10%; */
    margin: 5% auto;
    /* border: 1px dashed slateblue; */
    border-radius: 1em;
    padding: 2vw 3vw;
  }

  #myRating {
    margin: 0.3em;
    color: #1A237E;
    /* box-shadow: 0.5vw 0.5vw 1vw rgb(5, 5, 5);  */
}

#textbox {
    width: 50%;
    height: 30vw;
    padding: 1vw 1vw;
    border: 1vw solid maroon;
}

#ratingContainer {
  display: inline;
  border: 0.1em solid #1dcee6;
  padding: 1em;
}